*.log
.DS_Store
.env
.env.backup
.env.dusk.local
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.tooling
/.vscode
/.zed
/auth.json
/ci/a11y-report.json
/ci/cta-shots
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/vendor-local
Homestead.json
Homestead.yaml
Thumbs.db
